img{
    border-radius: 25px;
    width: 300px;
    height: auto;
}

h1 {
    font-family: Tahoma, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #8a2be2;
}

h2 {
    font-family: Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #8b008b;
}

h3{
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #a52a2a;
}

li{
    font-family: 'Times New Roman', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color:#2f4f4f;
    list-style-type: square;
}

ol li{
    color: #ff0000;
}



a {
    color: #380269;
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
